@page "/about"
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nawab Motors</title>
    <link rel="stylesheet" href="css/Style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <section class="skills py-5" id="skills">
        <div class="container">
            <!-- section title -->
            <div class="row mb-5">
                <div class="col d-flex flex-wrap text-uppercase justify-content-center">
                    <h1 class="font-weight-bold align-self-center mx-1">About Us</h1>
                    <h1 class="section-title--special mx-1" style="color:blue">Nawab Motors</h1>
                </div>
                
            </div>
            <div class=" justify-content-center">
                <p sstyle="max-width: 500px; margin:5px; " >
                    Welcome to Nawab Motors, your premier choice for car booking services. At Nawab Motors, we are committed to providing our customers with a seamless and enjoyable car rental experience. With a diverse fleet of well-maintained vehicles, ranging from compact cars to luxury sedans and SUVs, we cater to all your travel needs. Whether you're planning a business trip, a family vacation, or just need a reliable ride for daily commuting, we have the perfect car for you. Our dedication to quality service, affordability, and customer satisfaction sets us apart in the industry. Trust Nawab Motors for your next car booking and experience the convenience and reliability that we pride ourselves on delivering.
                </p>
            </div>
            <!-- end of section title -->
            <div class="row">
                <!-- single skill -->
                <div class="col-sm-6 col-lg-3 text-center my-3">
                    <div class="skills-icon p-2 rounded-circle">
                        <i class="fas fa-car fa-fw"></i>
                    </div>
                    <h6 class="text-uppercase font-weight-bold my-3">Our Mission</h6>
                    <div class="skills-underline"></div>
                    <p class="w-75 mx-auto text-muted">To provide top-quality vehicles and exceptional service at competitive prices, ensuring customer satisfaction and peace of mind.</p>
                </div>
                <!-- end of single skill -->
                <!-- single skill -->
                <div class="col-sm-6 col-lg-3 text-center my-3">
                    <div class="skills-icon p-2 rounded-circle">
                        <i class="fas fa-comments fa-fw"></i>
                    </div>
                    <h6 class="text-uppercase font-weight-bold my-3">Our Vision</h6>
                    <div class="skills-underline"></div>
                    <p class="w-75 mx-auto text-muted">Transforming travel experiences through accessible and dependable car rental solutions.</p>
                </div>
                <!-- end of single skill -->
                
                <!-- single skill -->
                <div class="col-sm-6 col-lg-3 text-center my-3">
                    <div class="skills-icon p-2 rounded-circle">
                        <i class="fas fa-wallet fa-fw"></i>
                    </div>
                    <h6 class="text-uppercase font-weight-bold my-3">Our Values</h6>
                    <div class="skills-underline"></div>
                    <p class="w-75 mx-auto text-muted">At Nawab Motors, we're committed to reliability, efficiency, and convenience. These values shape our premier car booking system.</p>
                </div>
                <!-- end of single skill -->
                <!-- single skill -->
                <div class="col-sm-6 col-lg-3 text-center my-3">
                    <div class="skills-icon p-2 rounded-circle">
                        <i class="fas fa-people-carry fa-fw"></i>
                    </div>
                    <h6 class="text-uppercase font-weight-bold my-3">Our Strategy</h6>
                    <div class="skills-underline"></div>

                    <ul class="w-75 mx-auto text-muted">
                        <li>Quality Fleet</li>
                        <li>Affordable Prices</li>
                        <li>24/7 Support</li>
                    </ul>

                </div>
                <!-- end of single skill -->
            </div>
        </div>
    </section>
</body>
</html>

